body {
  background-image: url("../img/background.png");
  background-size: cover;
}
#bottomjumbo{
  border-radius: 25px;
}
button {
  background-color: black;
  border-radius: 25px;
  color: white;
  float: right;
  width: 100%;
}
.card{
  background-color: green;
  border-radius: 25px;
  padding: 20px;
}
#cart {
  display: none;
}
#checkout{
  display: none;
}
.form-check{
  background-color: green;
  border-radius: 25px;
  padding: 20px;
}
.form-group{
  background-color: green;
  border-radius: 25px;
  padding: 20px;
}
h1 {
  color: black;
  font-family: chalkduster;
  font-size: 80px;
  text-align: center;
}
h3 {
  font-family: chalkboard;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
h4 {
  font-size: 30px;
  font-weight: bold;
}
#hide{
  display: none;
}
input {
  margin-right: 10px;
}
label {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
#price{
  overflow-wrap: break-word;
  text-align: center;

}
#title {
  display: block;
  float: left;
  height: 240px;
}
#topjumbo {
  background-color: green;
  border-radius: 25px;
}
ul{
  font-size: 18px;
  text-shadow: 2px, 2px, green;
}
